.control {
    display: block;
    margin: 0 auto;
    p {
        margin: 0;
    }
    .row2 {
        ul {
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
    button {
        font-family: 'Righteous', cursive;
    }
}
.location-hidden p {
    text-decoration: underline;
}
.control {
    li form button {
        background: none;
        border: none;
        padding: 0;
        /*optional*/
        /*input has OS specific font-family*/
        text-decoration: underline;
        cursor: pointer;
        font-size: 1rem;
        color: black;
      }
      img {
          cursor: pointer;
      }
    ul li a {
        font-size: 1rem;
        color: black;
    }
    }



.modal {
    display: none;   
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */  
}
.modal-content {
    display: none;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 30%; 
  }