/*Sunny colors*/
$background-sunny: #eff1c5;
$shadow-sunny: #a2a77f;

/*Rainy*/
$background-rainy: #0095c4;
$shadow-rainy: #035e7b;

/*Snowy*/
$background-snowy: #F7EDE2;
$shadow-snowy: gray;

h1, h2, h3, h4 {
    font-family: 'Righteous', cursive;
}
body {
    font-family: sans-serif;
}
h1 {
    font-size: 3rem;
}

.sunny {
    background-color: $background-sunny;
}
.rainy {
    background-color: $background-rainy;
}
.snowy {
    background-color: $background-snowy;
}

.bubbble-post {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 5px;
    list-style-type: none;
}