/*Sunny colors*/
$background-sunny: #eff1c5;
$shadow-sunny: #a2a77f;

/*Rainy*/
$background-rainy: #035e7b;
$shadow-rainy: #062935;

/*Snowy*/
$background-snowy: #F7EDE2;
$shadow-snowy: gray;

h1, h2, h3, h4 {
    font-family: 'Righteous', cursive;
}
body {
    font-family: sans-serif;
}
h1 {
    font-size: 3rem;
}

