<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Bubbble Login Portal</title>


</head>
<body>
    <header>
        <h1>Welcome to Bubbble</h1>
    </header>
    <main>
    <div class="left-column">
        <h2>What is Bubbble?</h2>
        <p>Well we are a Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            At eaque voluptate optio tempora explicabo saepe accusamus repellendus impedit, aperiam, neque, 
            doloremque consequatur quasi iste ratione veniam quaerat eos laborum consequuntur.
        </p>
    </div> <!--left column-->

    <div class="right-column">

        <div class="form-card">
            <h3>Sign into Bubbble</h3>
            <form action="/signIn" method="get">
                <label>Username</label><br>
                <input required type="text" name="username"><br>
                <label>Password</label><br>
                <input required type="password" name="password"><br>
                <input type="submit" value="Sign In">
                <p class="message"></p>
            </form>


            <h3>Or sign up!</h3>
            <form action="/register" method="post">
                <label>First Name*</label><br>
                <input required type="text" name="user[fname]"><br>
                <label>Last Name*</label><br>
                <input required type="text" name="user[lname]"><br>

                <label>Username*</label><br>
                <input required type="text" name="user[username]"><br>
                <label>Password*</label><br>
                <input required type="password" name="user[password]"><br>
                
                <label>Reenter Password*</label><br>
                <input required type="password" name="user[password2]"><br>    
                
                <input type="submit" value="Register">

            </form>
            
        </div> <!--form card-->

    </div> <!--right column-->
    </main>
</body>

<footer>
    <p>&copy; Ethan Tindall 2021 - CSE341: Backend 2 - Project 2</p>
</footer>
</html>
    