<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/home.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Bubbble Home Page</title>


</head>
<body>
    <header>
        <h1>Bubbble</h1>
        <ul>
            <% results.forEach(function(r) { %>
                <li><%= r.user_id %> - <%= r.user_username %></li>
            <% }); %>
        </ul>    </header>
    <main>
        <div class="left-column">
            <h2>How does Bubbble work?</h2>
            <p>You can create posts that anyone on the site can see! Bubbble
                 takes your set location and themes your post according to the weather at the time of posting.
                Go ahead, make a post and get started!</p>

                <ul>
                    <li><a href="#">See my posts</a></li>
                    <li><a href="#">Search all posts</a></li>
                    <li><a href="#">Set my theme</a></li>
                    <li><a href="#">Change password</a></li>
                    <li><a href="#">Sign Out</a></li>
                </ul>


        </div> <!--left column-->
    
        <div class="right-column">    
            <div class="newsfeed">

            </div> <!--newsfeed-->
            <div class="post-form">
                <form action="/" method="post">
                    <textarea required name="post-content" placeholder="What's on your mind?"></textarea><br>
                    <input required type="text" placeholder="Your Location" name="location"><br>
                    <button type="submit">Send</button>
                    <input type="hidden" name="action" value="Send">
                </form>
    

            </div> <!--post form-->
        </div> <!--right column-->

    </main>
    <footer>
        <p>&copy; Ethan Tindall 2021 - CSE341: Backend 2 - Project 2</p>
    </footer>
</body>
</html>
    